machine:
  sysctls:
    vm.nr_hugepages: "1024"
  kernel:
    modules:
      - name: nvme_tcp
      - name: vfio_pci
  files:
    - path: /etc/cri/conf.d/20-customization.part
      op: create
      content: |
        [plugins."io.containerd.cri.v1.images"]
          discard_unpacked_layers = false
  time:
    servers:
      - /dev/ptp0
  kubelet:
    nodeIP:
      validSubnets:
        - ${node_network}
    extraArgs:
      rotate-server-certificates: true
    clusterDNS:
      - 10.43.0.10
    extraMounts:
      - destination: ${storage_path}
        type: bind
        source: ${storage_path}
        options:
          - rbind
          - rshared
          - rw
  disks:
    - device: /dev/vdb
      partitions:
        - mountpoint: ${storage_path}
  install:
    disk: ${install_disk}
    image: ${install_image}
    extraKernelArgs:
      - console=ttyS1
      - panic=10
      - cpufreq.default_governor=performance
      - intel_idle.max_cstate=0
  network:
    hostname: ${hostname}
    nameservers:
      - ${primary}
      - ${secondary}
